<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="customer_register_success">
       <observer name="wealthsystems_masterdirectdata_observer_create" instance="Wealthsystems\Masterdirectdata\Observer\Create" />
   </event>

    <event name="customer_login">
       <observer name="wealthsystems_masterdirectdata_observer_login" instance="Wealthsystems\Masterdirectdata\Observer\Create" />
    </event>
</config>