<?xml version="1.0"?>
<!--
/**
 * Correios
 *
 * Correios Shipping Method for Magento 2.
 *
 * @package ImaginationMedia\Correios
 * @author Igor Ludgero Miura <igor@imaginemage.com>
 * @copyright Copyright (c) 2017 Imagination Media (http://imaginemage.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <correios>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>ImaginationMedia\Correios\Model\Carrier\Correios</model>
                <name>Correios</name>
                <title>Correios</title>
                <specificerrmsg>Cálculo não disponível, por favor verifique a conexão com o webservices e as dimensões e peso dos produtos.</specificerrmsg>
                <function_mode>3</function_mode>
            </correios>
        </carriers>
    </default>
</config>